*{
box-sizing: border-box;
}
body{
    background-color: rgb(166, 131, 237);
}
.content{
    position: absolute;
    top: 42%;
    left: 40%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}
h1{
    text-align: center;
}
button{
    margin-left: 50px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px ;
    border: none;
    background-color: darkcyan;
    color: white;
}